body{
  text-align: center;
  background-color: lightblue;
}
/*the cards*/
.box{
  height:200px;
  width: 140px;
  border: 1px solid black;
  margin: 20px;
  float: right;
}
/*the overall box with all of the cards*/
.container{
  height: 600px;
  width:750px;
  margin: auto;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.blue{
  background-color: blue;
}

.green{
  background-color: green;
}
